<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="POST" action="/new">
      <h1>Add a User</h1>
      <div>
        <label for="name">Name: </label>
        <input class="name" type="text" />
      </div>
      <br />
      <div>
        <label for="message">Message: </label>
        <input class="message" type="text" />
      </div>
      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
